<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>

    <div>
        <h2><%= blog.title  %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <button><a id="delete" data-doc = "<%= blog._id %>">Delete</a></button>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="/js/delete.js"></script>
</body>
</html>